<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="NoticeMapper">
  <resultMap type="notice" id="noticeResultMap">
    <id property ="noticeNo" column="NOTICE_NO"/>    <!-- id는 primarykey에 매핑 -->
    <result property="noticeSubject" column="NOTICE_SUBJECT"/>
    <result property="noticeContent" column="NOTICE_CONTENT"/>
    <result property="noticeWriter" column="NOTICE_WRITER"/>
    <result property="noticeDate" column="NOTICE_DATE"/>
    <result property="viewCount" column="VIEW_COUNT"/>
  </resultMap>
  
  
  <insert id="insertNotice" parameterType="notice" > <!-- config.xml에 notice 별칭 만들ㅇ저ㅜㅁ. -->
	INSERT INTO NOTICE_TBL VALUES(SEQ_NOTICENO.NEXTVAL, #{noticeSubject}, #{noticeContent}, #{noticeWriter}, DEFAULT, DEFAULT)
  </insert>
  <select id="selectAllNotice" parameterType="notice.model.vo.Pagination" resultMap="noticeResultMap"> <!-- 컬럼명과 vo명이 똑같으면 resultType을 사용해도 되지만 다를경우 resultMap을 사용해 매핑을 해야함. -->
    SELECT * FROM(SELECT ROW_NUMBER() OVER(ORDER BY NOTICE_NO DESC) AS NUM, NOTICE_TBL.* FROM NOTICE_TBL) WHERE NUM BETWEEN #{start} AND #{end}
  </select>
  <select id="selectOneByNo" resultMap="noticeResultMap" parameterType="_int">
  	SELECT * FROM NOTICE_TBL WHERE NOTICE_NO = #{noticeNo }
  </select>
  <select id="selectTotalCount" resultType="_int">
  	SELECT COUNT(*) FROM NOTICE_TBL
  </select>
  
  <delete id="deleteNotice" parameterType="_int">
  	DELETE FROM NOTICE_TBL WHERE NOTICE_NO = #{noticeNo }
  </delete>
  <update id="updateNotice" parameterType="notice" >
  	UPDATE NOTICE_TBL SET NOTICE_SUBJECT = #{noticeSubject}, NOTICE_CONTENT = #{noticeContent} WHERE NOTICE_NO = #{noticeNo}
  
  </update>
</mapper>



