<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="NoticeMapper">
  <resultMap type="notice.model.vo.Notice" id="noticeResultMap">
    <id property ="noticeNo" column="NOTICE_NO"/>    <!-- id는 primarykey에 매핑 -->
    <result property="noticeSubject" column="NOTICE_SUBJECT"/>
    <result property="noticeContent" column="NOTICE_CONTENT"/>
    <result property="noticeWriter" column="NOTICE_WRITER"/>
    <result property="noticeDate" column="NOTICE_DATE"/>
    <result property="viewCount" column="VIEW_COUNT"/>
  </resultMap>
  
  
  <insert id="insertNotice" parameterType="notice.model.vo.Notice" >
	INSERT INTO NOTICE_TBL VALUES(SEQ_NOTICENO.NEXTVAL, #{noticeSubject}, #{noticeContent}, #{noticeWriter}, DEFAULT, DEFAULT)
  </insert>
  <select id="selectAllNotice" resultMap="noticeResultMap"> <!-- 컬럼명과 vo명이 똑같으면 resultType을 사용해도 되지만 다를경우 resultMap을 사용해 매핑을 해야함. -->
    SELECT * FROM NOTICE_TBL
  </select>
  
  
</mapper>



